doctype html

html(lang="en")
    head
        meta(charset="utf-8")
        title= title
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/style.css", medmia="screen")
    body
        main(class="main-content")
            div(id="bread-crubms-wrapper")
            div(id="left-menu")
                div(id="routes-select-wrapper" class="select-wrapper")!= RoutesSelect
                div(id="stops-select-wrapper" class="select-wrapper")
            div(id="right-content")
        script(type="text/javascript" src="/bundle.js")
        
